@font-face {
    font-family: Segoe-UI;
    src: url(./SEGOEUI.TTF);
}
@font-face {
    font-family: Space-Madness;
    src: url(./spacemadness.ttf);
}
@font-face {
    font-family: RNS;
    src: url(./RNS-S___.TTF);
}